input[type=number]{

  padding: 5px 15px;
  margin: 10px 0px;
  font-size:24px;
  font-family: 'Raleway', sans-serif; 
  box-sizing: border-box;
  border-radius: 10px;
  background-color: #222222;
  color: paleTurquoise;
  border: 3px solid paleTurquoise;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input[type=number]:focus {
  border: 3px solid Turquoise;
  box-shadow: 0 0 0 0.0em Turquoise, 0 0 0.5em 0.2em Turquoise
}

body {
  font-family: 'Raleway', sans-serif; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size:24px;
  background-color:#222222;
  color: white;
}

.checkbox input[type=checkbox] {
  opacity: 0;
  width: 1em;
  height: 1em;

}

.checkbox__control {
  display: inline-grid;
  width: 1em;
  height: 1em;
  border-radius: 10px;
  border: 3px solid paleTurquoise;
  margin-left: -27px;
}


.checkbox__control svg {
  transition: transform 0.1s ease-in 25ms;
  transform: scale(0);
  transform-origin: bottom left;
  color: paleTurquoise;
}

.checkbox__input input:checked
 + .checkbox__control svg {
  transform: scale(1);
}

.checkbox__input input:focus
 + .checkbox__control {
  border: 3px solid Turquoise;
  box-shadow: 0 0 0 0.0em Turquoise, 0 0 0.5em 0.2em Turquoise;
}

:root {
  --disabled: #959495;
}

.checkbox__input input:checkbox:disabled
 + .checkbox__control {
  color: var(--disabled);
}

.checkbox--disabled {
  color: var(--disabled);
}


* {
  box-sizing: border-box;
}

.main {
  background-color: #222222;
  width: 100%;
  margin-top: 50px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button {
  position: relative;
  display: block;
  width: 240px;
  height: 55px;
  border-radius: 100px;

  background-color: paleTurquoise;
  border: solid 3px paleTurquoise;
  color: #fff;
  font-size: 30px;
  font-family: 'Raleway', sans-serif; 
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
.button:hover {
  background-color: transparent;
  border-color: #fff;
  transition: all 0.1s ease-in-out;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background: transparent;
  margin: 30px auto 0 auto;
  border: solid 2px #222222;
  border-top: solid 2px Turquoise;
  border-radius: 50%;
  opacity: 0;
}

.check {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translate3d(-4px, 50px, 0);
  opacity: 0;
}
.check span:nth-child(1) {
  display: block;
  width: 10px;
  height: 2px;
  background-color: #fff;
  transform: rotate(60deg);
}
.check span:nth-child(2) {
  display: block;
  width: 20px;
  height: 2px;
  background-color: #fff;
  transform: rotate(-45deg) translate3d(14px, -4px, 0);
  transform-origin: 100%;
}

.loader.computing {
  -webkit-animation: loading 2s ease-in-out;
          animation: loading 2s ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.check.computing {
  opacity: 1;
  transform: translate3d(-4px, 4px, 0);
  transition: all 0.5s cubic-bezier(0.49, 1.74, 0.38, 1.74);
  transition-delay: 0.2s;
}


@-webkit-keyframes loading {
  30% {
    opacity: 1;
  }
  85% {
    opacity: 1;
    transform: rotate(1080deg);
    border-color: #222222;
  }
  100% {
    opacity: 1;
    transform: rotate(1080deg);
    border-color: Turquoise;
  }
}

@keyframes loading {
  30% {
    opacity: 1;
  }
  85% {
    opacity: 1;
    transform: rotate(1080deg);
    border-color: #222222;
  }
  100% {
    opacity: 1;
    transform: rotate(1080deg);
    border-color: Turquoise;
  }
}

